@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

::selection {
	@apply bg-gray-100 text-gray-800;
}

.custom-scrollbar {
	scrollbar-width: thin; /* For Firefox */
	scrollbar-color: #374151 #d1d5db; /* For Firefox */
}

/* For Webkit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #374151; /* Equivalent to bg-neutral-700 */
	border-radius: 9999px; /* Equivalent to rounded-full */
}

.custom-scrollbar::-webkit-scrollbar-track {
	background-color: #d1d5db; /* Equivalent to bg-neutral-300 */
}
